# ignore all the files from LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.synctexx

# ignore the literature folder
literature/*

# ignore the shared key folder
sk/
pk/

# ignore Jetbrains files
*.idea/
*.iml
